/* .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
} */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Example: Adjust minmax() values as needed */
    grid-template-rows: 1fr;
    gap: 10px;
}

.sizer{
    width: auto;
    height: 150px;
}

